<!DOCTYPE html>
<html lang="en">
<#include "partials/header.ftlh">
<body>
<#assign page = "/edit-client">
<#include "partials/navigation.ftlh">
<#include "forms/edit-client.ftlh">
<#include "partials/footer.ftlh">
</body>
</html>